*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}


@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

html{
    width: 100%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}


body{
    /* font-family: 'Paperlogy'; */
    /* font-family: var(--custom-font);  */
    /* overflow-x: hidden; */
    width: 100%;
    /* border: 10px solid red; */
}

#wrap{
    width: 100%;
    font-family: 'Paperlogy';
    /* overflow-x: hidden; */
    /* border: 10px solid red; */
}

header {
    padding: 2vw;
}

header a{
    /* font-weight: 300; */
    font-family: 'Paperlogy-3Light';
    font-size: 2vw;
    color: #191919;
}

header .logo a{
    /* font-weight: 500; */
    font-size: 2vw;
    font-family: 'Paperlogy-5Medium';
}

header ul{
    border: 1px soldi green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    list-style-type: none;
}

header li:nth-child(2){
    position: relative;
    left: 27vw;
}

header li:nth-child(3){
    position: relative;
    right: 4vw;
}


.content{
    width: 100%;
    /* border: 1px solid red; */
}

.main{
    display: flex;
    padding: 2vw 0vw 13vw 7vw;
}

.main h1{
    font-size: 5.6vw;
    font-weight: 500;
}

.main h3{
    font-size: 1.4vw;
    font-weight: 300;
    position: relative;
    left: 6vw;
    top: 0.5vw;
    line-height: 2vw;
}

.main ul{
    list-style-type: none;
    position: relative;
    left: 10vw;
    top: 10vw;
}

.main ul li{
    font-size: 1.5vw;
    color: #A1A1A1;
    opacity: 0.6;
    font-weight: 400;
    margin-bottom: 0.5vw;
    text-align: right;
}

.select-work .line{
    width: 70vw;
    border: 0.05vw solid #313131;
    float: left;
    margin: 2vw;
}

.select-work h2{
    font-size: 2.6vw;
    font-weight: 400;
    position: relative;
    top: 0.4vw;
}

.select-work ul{
    display: flex;
    /* border: 3px solid blue; */
}

.select-work ul li{
    /* border: 3px solid blue; */
    width: 20vw;
    height: 23vw;
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 1vw;
}

.select-work ul li img{
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(1);
    transition: all 0.3s ease-in-out;
    /* opacity: 0.3; */
}


.select-work ul li img:hover{
    filter: brightness(0.5);
}

.select-work ul li img:hover + p{
    opacity: 1;
    /* display: block; */
}


.select-work ul li p{
    width: 19vw;
    height: 3vw;
    position: absolute;
    top: 8.7vw;
    left: 0.4vw;
    text-align: center;
    color: #F0F0F0;
    /* border: 1px solid red; */
    font-size: 1.2vw;
    font-weight: 300;
    opacity: 0;
    /* display: none; */
    transition: all 0.3s ease-in-out;
}

.select-work ul li h4{
    color: #191919;
    font-size: 1.4vw;
    font-weight: 400;
    position: relative;
    top: 10vw;
}


.select-work h5{
    font-size: 1.8vw;
    font-weight: 400;
    color: #A1A1A1;
    position: relative;
    top: 0.7vw;
}

.first-work h5{
    /* border: 1px solid red; */
    position: relative;
    left: 0.5vw;
}

.third-work h5{
    /* border: 1px solid red; */
    position: relative;
    left: 1vw;
}

.select-work .first-work, .third-work{
    margin: 2vw;
    margin-bottom: 5vw;
}

.select-work .second-work{
    margin: 2vw;
    margin-bottom: 5vw;
    padding-left: 17vw;
}


footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5vw 2vw;
    color: #191919;
}

footer ul{
    list-style-type: none;
}

footer li{
    font-size: 1.8vw;
    margin-bottom: 0.3vw;
}

footer p{
    color: #6A6A6A;
    height: 2vw;
    position: relative;
    top: 15vw;
    /* border: 1px solid red; */
}

.topbtn{
    width: 6vw;
    height: 6vw;
    /* border: 0.15vw solid #434343; */
    border-radius: 1.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 3vw;
    top: 133vw;
    color: #191919;
    font-size: 1.5vw;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.topbtn:hover{
    background-color: #191919;
    color: #fff;
}