*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}


@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

body{
    /* font-family: 'Paperlogy'; */
    font-family: var(--custom-font); 
    overflow-x: hidden;
    overflow-y: hidden;
}

#wrap{
    width: 100%;
    /* height: 100vw; */
    font-family: 'Paperlogy';
    /* overflow-x: hidden; */
}

header {
    padding: 2vw;
}

header a{
    /* font-weight: 300; */
    font-family: 'Paperlogy-3Light';
    font-size: 2vw;
    color: #191919;
}

header .logo a{
    /* font-weight: 500; */
    font-size: 2vw;
    font-family: 'Paperlogy-5Medium';
}

header ul{
    border: 1px soldi green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    list-style-type: none;
}

header li:nth-child(2){
    position: relative;
    left: 27vw;
}

header li:nth-child(3){
    position: relative;
    right: 4vw;
    font-weight: 600;
}

header .circle{
    width: 0.7vw;
    height: 0.7vw;
    background-color: #191919;
    position: absolute;
    left: 2.6vw;
    border-radius: 100%;
}

.box{
    margin-bottom:3rem;
    white-space:nowrap;
    overflow-x:auto;
}
.box > div{
    display: inline-block;
    margin: 1vw;
}

/* .text-box{
    height:300px;
    padding:2rem;
} */

.container img{
    width: 34vw;
    height: 34vw;
}

.container h2{
    font-size: 1.5vw;
    font-weight: 400;
    color: #afafaf;
    padding: 1vw;
    position: relative;
    top: 1vw;
    left: 1vw;
}


.container h1{
    font-size: 2vw;
    font-weight: 400;
    color: #191919;
    margin-bottom: 1vw;
}


footer p{
    position: absolute;
    right: 2vw;
    bottom: 0.7vw;
    color: #6A6A6A;
}